<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <div class="heading">
    <h1 >Quora Posts</h1>
</div>
    <%for(post of Post){%>
   <div class="contents">  
     <h3>@<%=post.username%></h3>
     <h4><%=post.content%></h4> <br>
    <button><a href="http://localhost:2525/posts/<%=post.id%>">Post-info </a></button>  <br>
    <button><a href="http://localhost:2525/posts/<%=post.id%>/edit">Edit-Post</a></button> 

    <form method="post" action="/posts/<%=post.id%>?_method=DELETE">
        <button ><a href="">Delete-Post</a></button>
    </form>
    </div>  
   <%} %>

  <a href="http://localhost:2525/posts/new">creat new post</a>
</body>
</html>